# Ignore Mac system files
.DS_store

# Ignore node_modules folder
node_modules/

# Ignore API keys, secrets, passwords, etc.
.env

cypress/runner-results/*
cypress/reports/*
cypress/screenshots/*
cypress/videos/*
cypress/downloads/*
cypress/parallel-weights.json
cypress/multi-reporter-config.json